button {
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  padding: 10px 20px;

  transition: all $animation-fast;

  color: $color__light;
  border: {
    color: $color__primary;
  };
  background-color: $color__primary;
  @include breakpoint($desktop__all) {
    &:hover {
      position: relative;
      z-index: z(content);

      transform: scale(1.06);
    }
  }
  @include breakpoint($mobile__all) {
    font-size: 12px;

    padding: 5px 15px;
  }
}

.btn-revert {
  @extend button;

  color: $color__primary;
  border: 2px solid $color__primary;
  background-color: $color__light;
}
